services:
  cli:
    build:
      context: .
      target: cli
      dockerfile: Dockerfile
    image: "laravel-package-versioning-config-php-local"
    volumes:
      - ./:/opt/apps/app
      - ../laravel-container-auto-register:/opt/apps/laravel-container-auto-register
